/* HEADER */
header {
    background: #2C3E50;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

header .img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #1ABC9C;
}