body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Header */
header {
    display: grid;
    grid-template-columns: auto end;
    font-size: large;
    background: #005f73;
    color: white;
    padding: 20px;



}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

}

.logo {
    max-width: 150px;
    justify-self: center;

}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #1ABC9C;
}

/* Contact Info Section */
.contact-info {
    background: white;
    padding: 20px;
    text-align: center;
}

.info p {
    font-size: 18px;
}

/* Contact Form */
.contact-form {
    background: white;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.radio-group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

button {
    background-color: #0077b6;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005f73;
}

footer {
    background: #005f73;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
}

footer p {
    margin: 0;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 24px;
    height: 24px;
}