main {
    max-width: 100%;
    margin: 2rem auto;
    font-family: 'Roboto Slab', Arial, sans-serif;
}

body {
    font-family: 'Roboto Serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

header {
    font-family: 'Roboto Slab', sans-serif;
    background: #2C3E50;
    color: white;
    padding: 15px 0;
}

header img {
    float: left;
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('images/hero.jpg') center/cover no-repeat;
    color: blue;
    padding: 50px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.hero h2 {
    color: blue;
    margin: 0;
    color: blue;
}

.btn {
    display: inline-block;
    background: #E74C3C;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.content {
    font-family: 'Roboto Serif', Arial, sans-serif;
    padding: 60px;
    background: white;
    margin: auto;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    font-size: large;
}


.content img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content h2 {
    font-size: 40px;
    color: blue;
}

form input,
form textarea {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #3498DB;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

footer {
    display: block;
    background: #2C3E50;
    color: white;
    padding: 15px;
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
}